$full: 100%;
$iblock: inline-block;
$hidden: hidden;
$rel: relative;
$offset: absolute;

$fontNoto: 'Noto Sans KR', sans-serif;
$fontMontserrat: 'Montserrat', 'Noto Sans KR', sans-serif;

$colorBlue: #004c98;
$colorRed: #e60012;

$maxWidth: 1920px;
$minWidth: 1280px;
